<html lang="en">
<head>
    <title>Pyrint</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ s_url_for('css', 'style.css') }}">
</head>
<body ng-app="pyrintApp">
<script type="text/ng-template" id="connectModal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
        <h4 class="modal-title">{{ _('Select Serial Port') }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <select class="form-control" ng-model="selectedPort" ng-options="o as o for o in portList"></select>
            </div>
            <div class="col-sm-3">
                <select class="form-control" ng-model="selectedBaud">
                    <option value="250000">250000</option>
                    <option value="230400">230400</option>
                    <option value="115200" ng-selected="true">115200</option>
                    <option value="57600">57600</option>
                    <option value="38400">38400</option>
                    <option value="19200">19200</option>
                    <option value="9600">9600</option>
                </select>
            </div>
            <div class="col-sm-5">
                <button class="btn btn-primary" ng-click="connect()" ng-disabled="!selectedPort || !selectedBaud || connecting"><i
                        class="fa fa-spin fa-spinner" ng-if="connecting"></i> {{ _('Connect') }}
                </button>
                <button class="btn btn-primary" ng-click="cancel()" ng-if="connecting" ng-disabled="cancelling"><i
                        class="fa fa-spin fa-spinner" ng-if="cancelling"></i> {{ _('Cancel') }}
                </button>
            </div>
        </div>
        <div class="alert alert-danger" ng-if="errMsg">
            [[ errMsg ]]
        </div>
    </div>
</script>
<div class="wrapper" ng-controller="pyrintCtrl">
    <div class="header">
        <div class="brand">Pyrint</div>
        <div class="printer">
            <div ng-if="!online" class="not-connected">{{ _('Not Connected') }}</div>
            <div ng-if="online" class="printer-info">
                <div class="printer-info-left">
                    <div class="printer-port"><i class="fa fa-plug"></i> [[ baud ]]<span>@</span>[[ port ]]</div>
                    <div class="printer-temp" ng-if="temp"><i class="fa fa-thermometer-half"></i> [[ temp ]]
                    </div>
                </div>
                <div class="printer-info-right">
                    <button class="btn btn-danger btn-disconnect" title="Disconnect" ng-click="disconnect()"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!online" class="app-content-connect">
        <button ng-click="openConnectModal()" class="btn btn-lg btn-primary btn-connect"><i class="fa fa-plug"></i> {{
            _('Connect to a 3D Printer') }}
        </button>
    </div>
    <div ng-if="online" class="app-content-print">
        <input type="file" accept=".gcode" ng-upload-change="fileChanged($event)" id="thefile" class="hidden">
        <button class="btn btn-lg btn-info btn-print" ng-disabled="uploading || printing" ng-click="openFileDialog()"><i class="fa fa-file-text-o"></i> {{ _('Print G-code') }}</button>
        <i class="fa fa-spin fa-spinner" ng-if="uploading"></i>

        <div ng-if="gCodeFile" class="file-info">
            <span class="file-name">[[ gCodeFile ]]</span>
            <span class="file-size">[[ gCodeFileSize ]], [[ gCodeLines ]] lines of G-code</span>
        </div>
        <div ng-if="gCodeFile" class="control-print">
            <div class="control-item"><button class="btn btn-primary" ng-click="startPrinting()" ng-disabled="printing"><i class="fa fa-play"></i> {{ _('Start Printing') }} </button></div>
            <div class="control-item"><button class="btn btn-primary" ng-click="pausePrinting()" ng-disabled="!printing"><i class="fa fa-pause"></i> {{ _('Pause Printing') }} </button></div>
            <div class="control-item"><button class="btn btn-warning" ng-click="cancelPrinting()" ng-disabled="!printing"><i class="fa fa-close"></i> {{ _('Cancel Printing') }} </button></div>
        </div>
        <div ng-if="gCodeFile" class="print-progressbar">
            <uib-progressbar class="progress-striped active" value="progressVal()" type="success"><i>[[progress]]%</i></uib-progressbar>
        </div>
        <div class="printer-positions">
            <span class="pos">X: [[ X ]] </span>
            <span class="pos">Y: [[ Y ]] </span>
            <span class="pos">Z: [[ Z ]] </span>
        </div>
        <hr>
        <div class="control-printer">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" ng-disabled="printing">{{ _('Control Printer') }}
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a ng-click="XYHome()">{{ _('Home X/Y') }}</a></li>
                    <li><a ng-click="ZHome()">{{ _('Home Z') }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
<script src="{{ s_url_for('js', 'app.js') }}"></script>
</body>
</html>