@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.wrapper{
  min-width:768px;

  .header{
       height: 50px;
       background:#f9f9f9;
       border-bottom: 1px solid #eae8e8;
       margin-bottom: 20px;

       .brand{
           float:left;
           color:#428bca;
           font-size:26px;
           line-height:1.9em;
           padding-left:20px
       }
  }

  .printer{
    float:right;
    .not-connected{
        color: #b2b2b2;
        font-size:18px;
        padding-top:14px;
        padding-right:10px;
    }

    .printer-info{
        padding-top:6px;
        padding-right:4px;
        color: #8c8c8c;

        .printer-info-left{
            float:left;
            margin-right:10px;
            .printer-port{
                font-size:15px;
                margin-bottom:3px;
                line-height:100%;

                span{
                    font-weight: bold;
                    margin-left:5px;
                    margin-right:5px;
                }
            }

            .printer-temp{
                font-size:14px;
                text-align:right;
            }
        }

        .printer-info-right{
            float: right;

            .btn-disconnect{
                margin-top: 3px;
            }
        }

    }
  }

  .app-content-connect{
    text-align:center;
    padding-top: 30px;
  }

  .app-content-print{
    text-align:center;
    padding-top: 30px;
    width:300px;
    margin:auto;

    .file-info{
        margin: 20px 0;
        .file-name{
            display: block;
            font-weight: bold;
            font-size:15px;
        }
        .file-size{
            display: block;
        }
    }

    .control-print{
        .control-item{
            margin-bottom:5px;

            .btn{
                width:180px;
            }
        }
    }

    .print-progressbar{
        margin: 20px 0;
    }

    .printer-positions{
        margin: 20px 0 0 0;
        .pos{
            margin-right:20px;
        }
    }

    .control-printer{

        .dropdown{
            display:inline-block;
            a[ng-click]{
                cursor: pointer;
            }
        }
    }
  }
}


.connect-modal{
    .alert{
        margin-top: 20px;
    }
}